body {

    background-color: lightblue;
    font-family: Arial;
    text-align: center;
    margin-top: 100px;

}

input {

    width: 200px;
    height: 25px;

}

button {

    width: 150px;
    height: 35px;
    background-color: blue;
    color: white;
    border: none;

}

h1 {

    color: darkblue;

}